# Virtual environment
venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Data folders
data/raw/*
data/clean/*

# Keep folder structure
!data/raw/.gitkeep
!data/clean/.gitkeep

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Spark
spark-warehouse/

# Logs
*.log

# Mac files
.DS_Store